*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 200;
    
}
header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(contact2.png);
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    
}
nav{
    padding: 30px 3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.logo {
    color: #fff ;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span {
    color: rgb(24, 228, 184);
}


header .navbar li a:hover {
    color: rgb(25, 216, 184);
    border-bottom: 2px solid rgb(37, 212, 168);
}
.sociale-media a{
    color: #fff;
    text-decoration: none;
    margin: 0 25px;

}
.sociale-media{
    transform: rotate(90deg) translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 7%;
}
.line{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13%;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);

}
.row{
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(18, 206, 219);
    margin: 16%;
}
.row span{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
    
}
.row span a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    display: inline-block;
   
}
.content h2{
    font-size: 75px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.content p {
    color: #fff;
    margin-right: 40px;
}
.info{
    position: relative;
    top: 5px;
}


